*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    

body, html {
    font-family: Arial, sans-serif;
  }
  .hero-section {
    background: url('https://media.istockphoto.com/id/626062244/photo/chicago-skyline-aerial-view-at-dusk.jpg?s=1024x1024&w=is&k=20&c=CjC0Qguhp1Osw4-MQfWs6gPW0Th5uKQPv5eU8gySW0U=') no-repeat center center/cover;
color:black;
    height: 80vh;
    padding:0;

  }
 

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:wrap;
    background-color: rgb(5, 5, 59);
    color:white;
    padding:10px;
    
    
  }
  .navlink{
    display:flex;
    justify-content:space-between;
    list-style: none;
    gap:5px;
    padding:5px;
    
    text-decoration: none;


  }
  .navlink a{
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
    
  }
  
  .navlink a:hover{
    
    color: rgb(27, 14, 98);
    font-size: bolder;
  }
  .navbar img{
    width:40px;
    height:40px;
    border-radius:50%;
    

  }
  
  
  .secondsection,h1{
    text-align: center;
    font-size: bolder;
    margin-top:20px;
    color:#171515;
    
    

  }
  .secondsection,p{
    
    font-size: 40px;

    
    

  }
  .secondsection button{

    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    
    

    
  }
 

  .secondsection button {
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  .secondsection {
    max-width: 700px;
  }

  .secondsection button:hover {
    background-color: white;
    color: #d2cbcb;
  }
  .secondsection h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
    .secondsection p {
        font-size: 1.4rem;
        margin-bottom: 20px;
        color: rgb(4, 3, 3);
    }
  
  
 
    
  
.circle-image img  {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
  }



  
  .circle-image {
    
    display: flex;
    
    justify-content: right;

    
    
  }
